html, body {
  font: 14px/1.21 'Helvetica Neue', arial, sans-serif;
  font-weight: 400;
}

h1 {
  text-align: center;
}

ul {
  padding-left: 14px;
}

code {
  font: monospace;
  color: #595;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #FEFEFF;
  height: 30px;
  display: flex;
  align-items: center;
}

footer > * {
  margin: auto;
}

.loader {
  margin: 20px 0;
}

article#main {
  display: flex;
  flex-direction: row;
}

article#main > article {
  background-color: #6101;
  padding: 20px;
  flex: 1;
}

article#main > article:not(:last-child) {
  margin-right: 10px;
}

#what-we-know {
  --cell-size: 1.4em;
  --cell-gap: 2px;
}

#what-we-know .what-we-know__input {
  font-size: 1.6em;
  margin-right: auto;
  text-align: center;
}

#what-we-know .what-we-know__input + .what-we-know__input {
  margin-left: var(--cell-gap);
}

#what-we-know .what-we-know__input--1x1 {
  width: var(--cell-size);
  height: var(--cell-size);
  background-color: green;
}
#what-we-know .what-we-know__input--1x5 {
  width: var(--cell-size);
  height: calc(5 * var(--cell-size));
  resize: none;
  padding-left: 2px;
  padding-right: 2px;
  letter-spacing: 4px;
  word-wrap: break-word;
  background-color: orange;
}
#what-we-know .what-we-know__input--5x5 {
  width: calc(5 * var(--cell-size) + 14px);
  height: calc(5 * var(--cell-size) + 14px);
  text-align: left;
  padding-left: calc(0.5 * var(--cell-size));
  padding-right: calc(0.5 * var(--cell-size));
  padding-top: calc(0.5 * var(--cell-size));
  padding-bottom: calc(0.5 * var(--cell-size));
  letter-spacing: 0.9em;
  resize: none;
  background-color: gray;
}

#guessing-hints .guessing-hints__wordcount {
  font-size: 1.5em;
  font-weight: bold;
  color: #666;
}

#letter-statistics .letter-statistics__item {
  display: flex;
  flex-direction: row;
}
#letter-statistics .letter-statistics__letter {
  display: inline-block;
  min-width: 1.5em;
  text-align: center;
}
#letter-statistics .letter-statistics__letter--bold {
  font-weight: bold;
  background-color: #FF02;
}
#letter-statistics .letter-statistics__count {
  display: inline-block;
  text-align: right;
  min-width: 4em;
}
